extends ./components/_header
block content
  p
    b 検索条件：
    input#search(size="80")
    input#sortby(type="hidden")
    span &nbsp;
    input#search-btn(type="button", value="絞込み")
    span &nbsp;
    input#all-btn(type="button", value="すべて")
    span &nbsp;
    input#sanix(type="button", value="古サニックス")
    span &nbsp;
    input#tabuchi(type="button", value="要VerUP")
    span &nbsp;
    input#pana(type="button", value="パナ6台以上")
    span &nbsp;
    input#wide(type="button", value="ワイド逆向き")
  p
    b 検索結果：
    span#numbers
    span &nbsp;
    b ページ：
    select#page
  div
    table.table
      thead
        tr
          th No
          each name in header
            th=name
      tbody#list
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script.
      function getUrlVars() {
        'use strict';
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
      }

      $(document).ready(function() {
        'use strict';
        var args = getUrlVars();
        if ('search' in args) {
          $('#search').val(decodeURI(args.search));
        }
        if ('sortby' in args) {
          $('#sortby').val(decodeURI(args.sortby));
        } else {
          $('#sortby').val('シリアル番号');
        }
        var header = !{JSON.stringify(header)};
        var size = 20;
        var num = 0;
        var pages = 0;
        search_fn();

        function search_fn() {
          'use strict';
          $.getJSON("https://s3-ap-northeast-1.amazonaws.com/sanix-data-analysis/fhRK0XGVb3cR1r1S3x9j3j3DRFGUyRYC/pv_sensors.json", function (json) {
            var data = [];
            var search = $("#search").val();
            var searches = search.split(/ or /);
            if (searches.length === 0) {
              searches[0] = search;
            }
            for (var mysearch in searches) {
              searches[mysearch] = '^(?=.*' + searches[mysearch].split(/\s+/).join(')(?=.*') + ')';
            }
            var re = new RegExp(searches.join('|'), "i");
            console.log(searches.join('|'));
            num = 0;
            for (var id in json) {
              var line = [];
              for (var item in header) {
                var val = json[id][header[item]];
                json[id][header[item]] = val ? val : '&nbsp;';
                line.push((json[id][header[item]] + '').replace("\n", " "));
              }
              if (!json[id]['テスト'] && (search === '' || line.join(',').match(re))) {
                data.push(json[id]);
                num++;
              }
            }

            if ($('#sortby').val() !== '') {
              data.sort(function(val1, val2) {
                val1 = val1[$('#sortby').val()];
                val2 = val2[$('#sortby').val()];
                if (val1 < val2) {
                  return -1;
                } else if (val1 > val2) {
                  return 1;
                } else {
                  return 0;
                }
              });
            }

            pages = parseInt(num / size) + 1;
            var page = '';
            for (var i = 0; i < pages; i++) {
              page += '<option value="' + i + '"">' + (i + 1) + ' / ' + pages + '</option>';
            }
            $("#page").html(page);
            draw();

      //イベントハンドラ
            $("#page").change(function(){
              draw();
            });
            $("#search-btn").attr("tabindex", "0");
            $("#search-btn").click(function(){
              location.href = '?search=' + $('#search').val();
            });
            $("#all-btn").click(function(){
              location.href = '?search=';
            });
            $("#sanix").click(function(){
              location.href = '?search=' + "SA099T01 V[0-6][0-9A-F]";
            });
            $("#tabuchi").click(function(){
              location.href = '?search=' + "田淵電機 1\\.0[0-8] or 安川電機 1\\.0[0-5] or SA099T01 1\\.0[0-8] or P73H103RJ 1\\.(0[0-9]|1[01])";
            });
            $("#pana").click(function(){
              location.href = '?search=' + "SP(SS|SM|US) ,([6-9]|1[0-9]), パワコン 初期化待ち|アクティベート待ち";
            });
            $("#wide").click(function(){
              location.href = '?search=' + "電力量センサー ,逆,";
            });
            $("input").keydown(function(e) {
              if (e.keyCode === 13) {
                location.href = '?search=' + $('#search').val();
              }
            });

            function draw() {
              var p = parseInt($('#page').val());
              var tbl = "";
              var values = {};
              for (var i = 0; i < header.length; i++) {
                var cell = header[i];
                values[cell] = {};
              }
              for (i = p * size; i < p * size + size; i++) {
                if (i >= num) break;
                var line = data[i];
                tbl += "<tr><td>" + (i + 1) + "</td>";
                for (var j = 0; j < header.length; j++) {
                  var cell = header[j];
                  var value = line[cell];
                  if (cell === "発電所名") {
                    var value = '<a href="https://maps.google.co.jp/maps?ll=' + line['緯度'] + ',' + line['経度'] + '&z=11&q=' + line['緯度'] + ',' + line['経度'] + '+(' + encodeURI(line['発電所名'] + '発電所') + ')&hl=ja&iwloc=A" target="_blank">' + line['発電所名'] + '発電所</a>';
                  } else if (cell === "シリアル番号") {
                    var value = '<a href="' + line['URL'] + '" target="_blank">' + line['シリアル番号'] + '</a>';
                  }
                  tbl += "<td>" + value.toString().replace(/\n/g, '<br />') + "</td>";
                  values[cell][line[cell]] = true;
                }
                tbl += "</tr>";
              }
              tbl += "</table>";
              $("#list").html(tbl);
              var date = new Date();
              $("#numbers").text(num + " 箇所 (" + date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日 時点)");

            }
          });
        }
      });
