extends ./components/_header
block content
  .form-inline
    a#yesterday.btn.btn-default 前日
    span#mydate(style="font-size:22px")
    a#tommorow.btn.btn-default 翌日
    div(class="alert alert-success")
     h3 データがロックしている（固まっている）発電所
     p 検出条件）12/13/14時の3サンプリングで入力電圧がまったく変化していない
    div(class="alert alert-danger")
     h3 入力電圧が低い（異常）可能性のある発電所
     p 検出条件1）緑のデータロックが発生していないこと
     p 検出条件2）入力電圧のバラつきが大きい発電所内(分散>1000)の偏差値50以下が12/13/14時の3サンプリング連続した場合
     p ※入力電圧0はさすがにPVを接続していないと断定し、判定には加えていない。        
  div
    - var header = ['シリアル番号', 'パワコン番号', '発電所', '営業所', '時間', '入力電圧1', '入力電圧2', '入力電圧3', '入力電圧4', '入力電圧5', '分散']
    table.table
      thead
        tr
          each name in header
            th=name
      tbody#list
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  script.
    function getUrlVars() {
      'use strict';
      var vars = [], hash;
      var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
      for(var i = 0; i < hashes.length; i++) {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
      }
      return vars;
    }

    $(document).ready(function() {
      'use strict';
      var args = getUrlVars();
      var date;
      if (args.length == 3) {
        date = new Date(args.year, args.month - 1, args.day);
      } else {
        date = new Date();
        date.setDate(date.getDate() - 1);
      }
      var yesterday = new Date(date.getFullYear(), date.getMonth(), date.getDate());
      yesterday.setDate(yesterday.getDate() - 1);
      $('#yesterday').attr("href", "?year=" + yesterday.getFullYear() + "&month=" + (yesterday.getMonth() + 1) + "&day=" + yesterday.getDate());
      $('#yesterday').text("前日");

      var tommorow = new Date(date.getFullYear(), date.getMonth(), date.getDate());
      tommorow.setDate(tommorow.getDate() + 1);
      $('#tommorow').attr("href", "?year=" + tommorow.getFullYear() + "&month=" + (tommorow.getMonth() + 1) + "&day=" + tommorow.getDate());
      $('#tommorow').text("翌日");

      var strDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
      $('#mydate').html('&nbsp;' + strDate + '&nbsp;');
      $.getJSON("https://s3-ap-northeast-1.amazonaws.com/sanix-data-analysis/fhRK0XGVb3cR1r1S3x9j3j3DRFGUyRYC/tabuchi-inputvol-detect/" + strDate + ".json", function (json) {
        $.getJSON("https://s3-ap-northeast-1.amazonaws.com/sanix-data-analysis/fhRK0XGVb3cR1r1S3x9j3j3DRFGUyRYC/pv_sensors.json", function (pvsensors) {
          var header = !{JSON.stringify(header)};
          var res = '';              
          for (var id in json) {
            //console.log(id);
            for(var i=0; i<json[id].length; i++) {
              var class_style = '';
              var rowspan_num = '';
              if(json[id][i].inv_vol_num === 1) {
                class_style = ' class=success';
              } else {
                rowspan_num = ' rowspan=3';
              }
              var write = 1;
              for(var k=0; k<json[id][i].inv_vol_num; k++) {
                res += '<tr' + class_style + '>';
                if(write === 1) {
                  res += '<td' + rowspan_num + '><a href=' + pvsensors[id].URL + ' target="_blank">' + id + '</a></td>'; 
                  res += '<td' + rowspan_num + '>' + json[id][i].pcsid + '</td>';
                  res += '<td' + rowspan_num + '>' + pvsensors[id].発電所名 + '発電所</td>'; 
                  res += '<td' + rowspan_num + '>' + pvsensors[id].営業所 + '</td>';
                }
                write = 0;
                res += '<td>' + String(12+k) + '時' + '</td>';
                for(var j=0; j<5; j++) {
                  var style2 = '';
                  if(json[id][i].result_out[j] === 1) {
                    style2 = 'danger';
                  }
                  res += '<td class='+ style2 + '>' + json[id][i].input[k].input_vol[j] + '</td>';
                }
                res += '<td>' + json[id][i].input[k].dispersion + '</td>';              
                res += '</tr>/n';
              }
            }
          }
          $('#list').html(res);
        });
      });
    });
