include ../components/_mixins
include ../components/_head
include ../components/_header
.main.clearfix
	div.desc
		p 先にPC版をコーディング後、extends（継承）機能を使用して、SP版を差分のみの変更で作成しています。
	div.code
		img(width="100%", src="img/p4.png", alt="コードのスクリーンショット")
include ../components/_footer
