include ../components/_mixins
include ../components/_head
include ../components/_header
.main.clearfix
	div.desc
		p ページ共通要素のhead、.header、.footerを分割し、それぞれのページに読み込んでいます。
	div.code
		img(width="100%", src="img/p3.png", alt="コードのスクリーンショット")
include ../components/_footer