include ../components/_mixins
include ../components/_head
include ../components/_header
.main
	block maintitle
		.visual
			h1.fon-goog.fon-bold.fon-italic EXPLANATION OF JADE
			p.copy Jadeを使用した静的HTMLコーディング実践
	.desc
		p Jade は JST (JavaScript Templates) の一つであり、<br>HTML を書くための軽量マークアップ言語 である Haml に影響を受けた<br>JavaScript テンプレートエンジンでもあります。
		p 日本語でJadeのリファレンス的な記事はみかけますが、<br>一般的な静的HTMLサイト制作でJadeの機能を実際どのように使うかという所に踏み込んだものはなかったと思うので、<br>本サンプルを通して解説します。
		p 本サンプルの解説記事は<a href="#{qiita}" target="_blank">こちら</a>です。
include ../components/_footer


