include ../components/_mixins
include ../components/_head
include ../components/_header
.main.clearfix
	div.desc
		p 全ページの
		p ・メタ要素、シェアテキスト<br>・サイト共通のリンク
		p などを<code>src/_common.json</code>で一括管理しています。
	div.code
		img(src="img/p2.png", alt="コードのスクリーンショット" width="100%")
include ../components/_footer
