include ../components/_mixins
include ../components/_head
include ../components/_header
.main.clearfix
	div.desc
		p ヘッダのナビゲーションリストを生成しています。
		p 繰り返すコード、includeにするほどでもない小さいコードを分割するときにmixinを使用します。
	div.code
		img(width="100%", src="img/p5.png", alt="コードのスクリーンショット")
include ../components/_footer