doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 裏サニックスアイ
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
body(style="margin-top:70px")
  div.container(style="width:auto")
    div#div-modal.modal.fade
      div.modal-content
        div.modal-header
          h1 検索しています...
        div.modal-body
          div.progress.progress-striped.active
            div.bar(style="width: 100%;")
    nav.navbar.navbar-inverse.navbar-fixed-top
      div#bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          - var menu = { 0: "PVセンサー一覧", 1: "低発電量", 2: "異常発電量" }
          each name, index in menu
              li(class="#{index == 0 ? 'active' : ''}")
                a(href="?p=#{index}")=name
    form.form-inline
      div.form-group
        label.sr-only query
        input#myquery.form-control(type="text", placeholder="検索文字列 発電所名など")
      button#mybutton.btn.btn-default(data-target="#div-modal") 検索
    table.table.table-striped(style="width:100%")
      thead
        tr
          - var header = [ "シリアル番号", "発電所名", "顧客名", "プラン", "営業所", "パワコン台数", "ステータス", "メーカー", "機種名" ];
          each name in header
            th=name
      tbody#mytable
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script.
      $(document).ready(function () {
        $("#mybutton").on("click", function () {
          $("pleaseWaitDialog").show();
          $.ajax({
            type: "GET",
            url: "https://olggsrrf75.execute-api.ap-northeast-1.amazonaws.com/prod/get_pvsensor_info",
            data: "query=" + encodeURIComponent($("#myquery").val()),
            success: function(json) {
              var pvsensors = json['info'];
              var resp = "";
              var header = !{JSON.stringify(header)};
              for (var key in pvsensors) {
                var pvsensor = pvsensors[key];
                resp += "<tr>";
                for (var i = 0; i < header.length; i++) {
                  resp += "<td>" + pvsensor[header[i]] + "</td>";
                }
                resp += "</tr>";
              }
              $("#mytable").html(resp);
            }
          });
          $("pleaseWaitDialog").hide();
          return false;
        });
      });
