extends ./components/_header
block content
  .form-inline(style="margin-bottom:12px")
    a#yesterday.btn.btn-default 前日
    span#mydate(style="font-size:22px")
    a#tommorow.btn.btn-default 翌日
  #accordion.panel-group
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="js/geturlvars.js")
    script(src="js/abnormalGeneration.js")
