extends ./components/_header
block content
  .containar
    table.table
      thead
        tr#myheader
      tbody#mytable
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="geturlvars.js")
    script(src="administrators.js")
