extends ./components/_header
block content
  .containar
    h3
      span#myheader の一日分の発電量データ（ＣＳＶ）
    ul#mylist
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="https://sdk.amazonaws.com/js/aws-sdk-2.1.36.min.js")
    script(src="js/geturlvars.js")
    script(src="js/list-csv.js")
