extends ./components/_header
block content
    .containar
        .form-inline(style="margin-bottom:12px")
            input#sortby(type="hidden")
            label(for="search") 検索条件：
            input#search.form-control(size="80")
            button#search-btn.btn.btn-default 検索
        table.table
            thead
                tr#myheader
            tbody#mytable
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        script(src="js/geturlvars.js")
        script(src="js/nameList.js")
